@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&family=Montserrat:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
}

.navbar {
    @apply flex flex-row items-center w-full justify-between px-[0.8rem] py-[0.4rem] fixed top-0 z-10 h-[7.4rem] p-[3.2rem];
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
} */

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.modal-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
}
@media (max-width: 888px) {
    .nav-items .links {
        @apply hidden
    }
}
@media (min-width: 888px) {
    .nav-items .links {
        @apply flex flex-row
    }
}
/* Add this to your existing styles.css */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    background-color: #414d136e;
    color: #fff;
    width: 80%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
}


@media (max-width: 888px) {
    .nav-link a {
        display: none;
        flex-direction: column;
        width: 100px;
        position: absolute;
        background-color: #414d13;
        top: 50px;
        left: 15px;
        text-align: center;
    }

    .nav-link.active a {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .modal {
        display: none;
    }

}

.nav-link a {
    @apply lg:flex bg-[#fff] lg:top-auto lg:left-auto
}

.header-link {
    @apply bg-blend-saturation font-semibold text-gray-50 text-2xl mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-lg hover:bg-[#414d13] hover:bg-opacity-60
}

.nav-link {
    @apply flex bg-blend-saturation font-semibold text-gray-50 text-2xl mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-lg hover:bg-[#414d13] hover:bg-opacity-60
}

.brand {
    @apply relative;
}

.brand-woman {
    @apply w-screen h-screen object-cover;
}

.brand-text {
    @apply font-medium text-gray-50 lg:leading-[8.5rem] uppercase sm:text-[40px] md:text-[40px] lg:text-[70px] text-[30px] absolute top-[35%] left-[5%] sm:top-[45%] lg:top-[40%] sm:left-[5%] md:top-[45%] md:left-[5%] text-center;
    font-family: "Jost", sans-serif;
    text-align: start;
}

.transform-50 {
    transform: translate(-50%, -50%);
}

.btn {
    @apply text-white absolute top-[50%] sm:top-[65.5%] md:top-[65.5%] lg:top-[69%] left-[5%] text-2xl md:text-2xl px-[2.4rem] bg-[#414d13] font-medium h-16 sm:w-[17.5rem] md:w-[20.5rem] lg:w-[25.5rem] my-2 rounded-[3.2rem] hover:bg-opacity-90 transition-all duration-300
}

/* .shop-buttons {
    @apply ;
} */

.down-svg {
    @apply block pt-0 mt-0 w-full fill-current text-white h-20 mx-auto absolute top-[93%] animate-bounce;
}

.scroll {
    @apply block mx-auto absolute top-[90%] left-[44%] md:left-[46%] lg:left-[47.7%] animate-bounce;
}

.explore-text {
    @apply text-center text-gray-800 font-medium mb-[20px] text-4xl md:text-4xl sm:text-4xl lg:text-7xl;
}

.explore,
.testimonial {
    @apply mt-[50px]
}

.image-container {
    @apply h-full w-full first:pl-2 last:pr-2 px-2
}

.what-we-are-container {
    @apply flex justify-between;
}

.what-we-are-image {
    @apply w-[50%] hidden lg:inline-flex;
}

.about-text {
    @apply text-4xl font-bold md:text-5xl sm:text-5xl lg:text-7xl text-white text-center p-5 pb-2;
}

.about-text-2 {
    @apply text-white text-2xl sm:text-2xl font-thin md:text-2xl lg:text-3xl pb-10;
}

.footer {
    @apply bg-[#414d13] block text-center lg:flex flex-row justify-around py-[3.2rem];
}

.footer-items {
    @apply text-2xl text-white leading-[40px]
}

/* .grid-section {
    @apply pt-[2.25rem] relative
} */

/* .buy-btn {
    @apply text-3xl bg-[#414d13] text-white px-4 py-3 rounded-xl hover:bg-opacity-10;
}

.buy-btn-1 {
    @apply absolute sm:top-[80%] sm:left-[9%] lg:top-[80%] lg:left-[12.5%]
}

.buy-btn-2 {
    @apply absolute sm:top-[70%] sm:left-[44.5%] lg:top-[70%] lg:left-[47.5%]
}

.buy-btn-3 {
    @apply absolute sm:top-[80%] sm:left-[75.5%] lg:top-[85%] lg:left-[80.5%]
} */

/* .testimonial-container {
    @apply block w-[80%] ml-auto mr-auto md:grid md:grid-cols-3 md:w-[100%] md:ml-auto md:mr-auto
} */

.testimonial-details {
    @apply flex flex-col even:bg-[#414d13] even:text-white odd:bg-white last:border-l-0 last:border-r-4 border-r-[#414d13] justify-between shadow-md border-l-4 border-l-[#414d13] rounded-lg items-center lg:mx-[2rem] md:mx-[2rem] my-[2.5rem] mx-[2.5rem] px-[2.5rem] ml-auto mr-auto;
}

.testimonial-words {
    @apply font-thin text-center mb-4 px-2 text-2xl;
}

.testimonial-image {
    @apply w-36 h-36 rounded-[50%] my-2
}

.swiper {
    @apply sm:w-[600px] sm:h-[300px] lg:w-full lg:h-[300px]
}

.testimonialSwiper {
    @apply lg:w-[60%] ml-auto mr-auto;
}